@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Mitr";
    src: url("../font/Mitr/Mitr-SemiBold.ttf");
}

@font-face {
    font-family: "Avenir";
    src: url("../font/Avenir/Avenir-Medium.ttf");
}

@font-face {
    font-family: "Glacial";
    src: url("../font/Glacial/GlacialIndifference-Regular.otf");
}

@font-face {
    font-family: "Glacial-bold";
    src: url("../font/Glacial/GlacialIndifference-Bold.otf");
}

body {
    font-family: "Roboto", sans-serif;
}

.mitr {
    font-family: 'Mitr', sans-serif;
}

.glacial {
    font-family: 'Glacial', sans-serif;
}

.glacial-bold {
    font-family: 'Glacial-bold', sans-serif;
}

.avenir {
    font-family: 'Avenir', sans-serif;
}