@font-face {
    font-family: "Mitr";
    src: url("../font/Mitr/Mitr-SemiBold.ttf");
}

@font-face {
    font-family: "Avenir";
    src: url("../font/Avenir/Avenir-Medium.ttf");
}

body {
    font-family: "Avenir", sans-serif;
}

.mitr {
    font-family: 'Mitr', sans-serif;
}

.avenir {
    font-family: 'Avenir', sans-serif;
}